.notFound {
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: rem(50);

	&.lightBg {
		background-color: $gray-800;
		color: $text-300;

		& .code {
			color: $gray-800;
		}
	}
	&.darkBg {
		background-color: $text-100;
		color: $white;

		& .code {
			color: $text-100;
		}
	}
}
.code {
	@include gilroy(800);
	font-size: clamp(rem(120), calc(30vw + 50px), rem(350));
	white-space: nowrap;
	line-height: 1;
	@include gradient-primary();
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: rem(4) transparent;
	color: $text-100;
}
.text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	@include gilroy(400, 20);
	gap: rem(10);
	text-align: center;
	text-wrap: pretty;

	@media screen and (max-width: $max-768) {
		margin-top: rem(50);
		@include gilroy(400, 16);
	}
}
.link {
	margin-top: rem(30);
	@include gradient-primary();
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@include gilroy(400, 18);
	cursor: pointer;
	text-decoration: underline;
	text-align: center;
	font-weight: 400;

	@media screen and (max-width: $max-768) {
		@include gilroy(400, 16);
	}
}
