.collectLinkLarge {
	gap: rem(40);
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: $max-768) {
		gap: rem(30);
	}
}
.collectLinkContent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: rem(60);

	@media (max-width: $max-768) {
		gap: rem(40);
	}
}
.title {
	color: $text-800;
	@include gilroy(400, 64);
	line-height: 1.1;
	text-align: center;
	text-wrap: pretty;

	& b {
		color: $primary-tint-200;
		font-weight: 500;
	}

	@media (max-width: $max-768) {
		font-size: rem(28);
	}
}
.description {
	color: $text-800;
	@include gilroy(400, 20);
	line-height: 1.2;
	text-align: center;

	& a {
		text-decoration: underline;
		color: $primary-tint-200;
	}

	& p {
		min-height: 1em;
	}

	@media (max-width: $max-768) {
		font-size: rem(16);
	}
}
.button {
	text-wrap: nowrap;
}
