@mixin isActiveLabel($isActive: false) {
	@if ($isActive == true) {
		position: absolute;
		top: rem(8);
		left: rem(30);
		transform: translate(0);
		font-size: rem(12);

		@media (max-width: $max-768) {
			left: rem(24);
		}
	} @else {
		position: absolute;
		top: 50%;
		left: rem(30);
		font-size: rem(18);
		transform: translateY(-50%);

		@media (max-width: $max-768) {
			font-size: rem(16);
		}
	}
}

.inputWrapper {
	width: 100%;
	display: flex;
	border-radius: $corner-large;
	background-color: $text-800-fixed;
	position: relative;
}
.errorMessage {
	@include gilroy(400, 16);
	color: $state-error;
	transition: 0.2s ease-in-out;
	position: absolute;
	bottom: rem(-24);
	left: rem(30);
}
.input {
	border-radius: $corner-large;
	width: 100%;
	border: 0;
	outline: none;
	background-color: transparent;
	color: $text-300-fixed;
	@include gilroy(400, 18);
	padding: rem(26) rem(40) rem(12);
	transition: 0.2s;

	@media (max-width: $max-768) {
		padding: rem(20) rem(26) rem(8);
		font-size: rem(16);
	}

	&:placeholder-shown {
		& ~ .label {
			@include isActiveLabel(false);
		}
	}

	&:not(:placeholder-shown) {
		& ~ .label {
			@include isActiveLabel(true);
		}
	}

	&:focus {
		& ~ .label {
			@include isActiveLabel(true);
		}
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		border: 0px;
		opacity: 1;
		-webkit-box-shadow: inset 0 0 0 50px $text-800-fixed;
		-webkit-text-fill-color: $text-300-fixed;
	}

	&::-webkit-input-placeholder {
		display: none;
		opacity: 0;
	}

	&::-moz-placeholder {
		display: none;
		opacity: 0;
	}

	&:-ms-input-placeholder {
		display: none;
		opacity: 0;
	}

	&::-ms-input-placeholder {
		display: none;
		opacity: 0;
	}

	&::placeholder {
		display: none;
		opacity: 0;
	}
}
.label {
	@include gilroy(400, 12);
	cursor: text;
	color: $text-500-fixed;
	z-index: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: 0.2s ease-in-out;
}
.required {
	color: $state-error;
	margin-right: rem(6);
	font-size: rem(16);
}
