@import '@/shared/styles/_vars';

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(10);
	@include gilroy(500);
	cursor: pointer;
	border: 0;
	outline: none;
	width: 100%;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-wrap: pretty;

	&.primary {
		@include gradient-primary(0.2s, true);
		color: $white;

		&:disabled {
			background: $gray-dark;
			cursor: default;
		}

		&:focus-visible {
			outline: 1px solid $state-error;
		}
	}

	&.secondary {
		color: $text-black;
		@include gradient-secondary(0.2s, true);

		& .icon path {
			fill: $text-black;
		}

		&:disabled {
			background: $gray-medium;
			cursor: default;
		}
		&:focus-visible {
			outline: 1px solid $state-error;
		}
	}

	&.transparent {
		transition: 0.2s;
		background: transparent;
		border: 1px solid rgba(1, 109, 236, 0.6);
		outline: none;
		color: $text-black;

		& .icon path {
			fill: $text-black;
		}

		&:disabled {
			background: $gray-medium;
			cursor: default;
		}

		&:hover {
			background: rgba(221, 236, 255, 0.6);
		}

		&:focus-visible {
			outline: 1px solid $state-error;
		}
	}

	&.small {
		padding: rem(8) rem(16);

		&:has(.icon) {
			& .icon {
				max-height: rem(16);
				min-height: rem(16);
				min-width: rem(16);
			}
		}
		border-radius: $corner-small;
		font-size: rem(14);
		gap: rem(10);
	}

	&.medium {
		padding: rem(12) rem(30);

		&:has(.icon) {
			padding: rem(10) rem(30);

			.icon {
				max-height: rem(20);
				min-height: rem(20);
				min-width: rem(20);
			}
		}
		border-radius: $corner-small;
		font-size: rem(16);
		gap: rem(16);
	}

	&.large {
		padding: rem(16) rem(36);

		&:has(.icon) {
			padding: rem(14) rem(36);

			.icon {
				max-height: rem(24);
				min-height: rem(24);
				min-width: rem(24);
			}
		}

		border-radius: $corner-medium;
		font-size: rem(18);
		gap: rem(20);

		// Medium styles
		@media (max-width: $max-768) {
			font-size: rem(16);
			padding: rem(12) rem(30);

			&:has(.icon) {
				padding: rem(10) rem(30);

				.icon {
					max-height: rem(20);
					min-height: rem(20);
					min-width: rem(20);
				}
			}
		}
	}
}
.icon {
	height: 100%;
	max-height: rem(20);
	min-height: rem(20);
	min-width: rem(20);

	& path {
		fill: $white;
	}
}
