@import '@/shared/styles/_vars';

.collectLinkMini {
	display: flex;
	flex-direction: column;
	gap: rem(20);
	width: 100%;
}
.collectLinkOutline {
	width: 100%;
	padding: rem(20);

	@media (max-width: $max-768) {
		padding: rem(6);
	}
}
.collectLinkMiniWrapper {
	border: rem(1) solid $primary-tint-900;
	width: 100%;
	padding: rem(20);
	border-radius: $corner-extra-large;

	@media (max-width: $max-768) {
		padding: rem(10);
		border-radius: $corner-large;
	}
}
.collectLinkContent {
	@include gradient-secondary();
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: rem(30);
	padding: rem(40) 0;
	border-radius: $corner-large;

	@media (max-width: $max-768) {
		border-radius: $corner-small;
		padding: rem(20) 0;
	}
}
.title {
	color: $text-black;
	@include gilroy(500, 38);
	line-height: 1.2;
	text-transform: uppercase;
	text-wrap: pretty;

	& b {
		color: $primary-shade-100;
		font-weight: 600;
	}

	@media (max-width: $max-768) {
		text-align: center;
		font-size: rem(18);
	}
}
.lower {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: rem(20);

	@media (max-width: $max-768) {
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		gap: rem(16);
	}
}
.description {
	color: $text-dark;
	@include gilroy(400, 16);
	line-height: 1.2;

	& a {
		text-decoration: underline;
		color: $primary-tint-200;
	}

	& p {
		min-height: 1em;
	}
}
.button {
	text-wrap: nowrap !important;
}
